In [39]:
import numpy as np
from numpy import random
import pandas as pd

In [ ]:
dates = pd.date_range("20240824", periods=3)

In [61]:
s1 = pd.DataFrame (
    {
        "A": pd.DatetimeIndex(['2024-08-24', '2024-08-25', '2024-08-26']),
        "B": random.rand(3),
        "C": pd.Categorical(["This", "is", "fun."])
    }
)

In [63]:
s1.head()

           A         B     C
0 2024-08-24  0.704830  This
1 2024-08-25  0.510446    is
2 2024-08-26  0.793576  fun.

In [65]:
s1.index

RangeIndex(start=0, stop=3, step=1)

In [67]:
s1["A"]

0   2024-08-24
1   2024-08-25
2   2024-08-26
Name: A, dtype: datetime64[ns]

In [75]:
s1.iloc[0]

A    2024-08-24 00:00:00
B                0.70483
C                   This
Name: 0, dtype: object

In [81]:
s1.to_csv('ChahidiElOuazzani_PandasAssignment.zip', index=False)

# Why are dynamic, interactive data visualizations useful when communicating data?

### ***" Overview first, zoom and filter, then details-on-demand. "*** ~ Ben Shneiderman, 1996


#### Dynamic, interactive visualizations can empower people to explore the data for themselves by putting it up in front of them so they may see it firsthand rather than a mess of numbers and words without much meaning. Someone who has a specific question in mind would not and should not sit for hours on end trying to make sense of raw data and instead read the processed visualizations. But then, why interactive or dynamic? It is because there may be multiple different dimensions to data, dimensions and metrics that not everyone needs, and often times the sheer volume of indexes can clutter everything, making it incredibly difficult to decipher a visualization.